<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhou.music_admin.dao.lyircBean.LyircMapper">
  <resultMap id="BaseResultMap" type="com.zhou.music_admin.entity.lyircBean.Lyirc">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="lyirc_name" jdbcType="VARCHAR" property="lyircName" />
    <result column="lyirc_rank" jdbcType="VARCHAR" property="lyircRank" />
  </resultMap>
</mapper>